html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  height: 100%;
}
body {
  color: #fff;
  background: url("img/px_by_Gre3g.png");
}
body #container {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
body #container #countdown,
body #container #message {
  font-weight: bold;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
body #container #countdown {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 400%;
}
body #container #message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50%;
  font-size: 200%;
  line-height: 1.3em;
}
