@import 'nib'

global-reset()

html, body
  height 100%

body
  color white
  background url("img/px_by_Gre3g.png")
  #container
    height 100%
    background-size cover
    background-position 50% 50%
    #countdown, #message
      font-weight bold
      padding 1rem
      background-color #00000066
      border-radius 5px
    #countdown
      position fixed
      top 1rem
      left 1rem
      font-size 400%
    #message
      position fixed
      bottom 1rem
      right 1rem
      width: 50%
      font-size 200%
      line-height 1.3em
