doctype html
html
  head
    meta(charset="utf-8")
    title prototype 2
    link(rel="stylesheet" type="text/css" href="./style.css")
  body
    #container
      #countdown
        span.clock
      #message
    script(src="./lib/vendor.js")
    script(src="./main.js")
